@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@600&family=Lato:wght@300;400&display=swap');

:root {
  --main-purple: #D9CDF7;
  --text-purple: #271A45;
  --font-main: "Lato", sans-serif;
  --font-part: "Crimson Pro", serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: var(--text-purple);
  line-height: 100%;
}

img {
  display: block;
  max-width: 100%;
}

p,
h1 {
  overflow-wrap: break-word;
}

body {
  background: var(--main-purple);
  font-family: var(--font-main);
}

.container {
  display: grid;
  place-content: center;
  min-height: 100vh;
  padding: 1.5rem;
}

.card {
  display: grid;
  gap: 1.4rem;
}

/* Container Image */

.image {
  position: relative;
  max-width: 28.125rem;
}

.image--active #image__360,
.image--active #image__static {
  display: none;
}

.image--active #image__close,
.image--active #image__animated {
  display: initial;
}

.image__icon {
  position: absolute;
  right: 11%;
  top: 0;
  cursor: pointer;
}

#image__close,
#image__animated {
  display: none;
}

/* Container Detail */

.detail {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.detail__code {
  font-weight: 300;
  font-size: 0.625rem;
}

.detail__title {
  font-family: var(--font-part);
  font-weight: 600;
  font-size: 1.8rem;
  margin-top: 0.75rem;
}

.detail__price {
  font-weight: 400;
  font-size: 0.9rem;
  margin-top: 0.75rem;
}

.detail__button {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1rem;
  border: 0.5px solid var(--text-purple);
  border-radius: 62.4rem;
  background: transparent;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 1.25rem;
}

@media (min-width: 790px) {
  .card {
    grid-template-columns: 1fr 0.8fr;
    gap: 0.813rem;
  }

  .detail {
    align-items: flex-start;
  }

  .detail__title {
    font-size: 2rem;
  }

  .detail__price {
    font-size: 1rem;
  }
}